<% provide(:title, @section.title) %>
<div class="container">
	<div class="hero-unit">
		<h1><%= @section.title %></h1> 
	</div>
	<div class="row-fluid">
    	<%= link_to(product_path(@product)) do %>
     	  <div class="btn btn-warning offset1">
     	  	<span><i class="icon-th-list icon-white"></i> Back to index</span>
     	  </div>
     	<% end %> 
    </div> 
    <br>
	<!-- Vid Start -->
    <div class="row-fluid">
      <div class="flex-video widescreen span10 offset1">
	      <div><%= raw @section.video %></div>	
      </div class="sectionbuttons">
		<%= link_to(product_path(@product)) do %>
			<div class="btn btn-warning span2 offset1">
				<span><i class="icon-step-backward icon-white"></i> Prev</span>
			</div>
		<% end %> 
		<div class="span3 offset6">
			<%= link_to(product_path(@product)) do %>
				<div class="btn btn-warning sectionbuttons span8">
					<span>Next <i class="icon-step-forward icon-white"></i></span>
				</div>
			<% end %> 
		</div>
    </div>
    <!-- Vid end -->

    <div class="row-fluid">
		<div class="span8 offset2 benefit_box">
			<div>
				<%= raw @section.notes %>
			</div>
		</div>
	</div>
</div>
