<footer class="footer">
	<div class="container">
		<div class="container footer-inner">
			<nav>
		        <ul class="offset1 pull-left navbar footer-nav">
		          <li><%= link_to "Create a free account", '#', id: "foot-link-top" %></li>
		          <li><%= link_to "About Us",'#', id: "foot-link" %></li>
		          <li><%= link_to "Contact Us",'#', id: "foot-link" %></li>
		          <li><%= link_to "Privacy Policy",'#', id: "foot-link" %></li>
		          <li><%= link_to "Terms of use",'#', id: "foot-link" %></li>
		        </ul>
		      </nav>
			<div class="footer_desc span5">
				Underdog Upstart was built because we love how modern technology can help people reach their potential and beyond. We provide the best tutorials, hacks, supplements, and other technologies to make Underdog’s into heroes.
				<br>
				<br>
				<%= link_to "Learn more",about_path, id: "foot-desc-link" %>
			</div>
		</div>
		<div class="center">
			<small>
				Copyright © 2013 Underdog Upstart
			</small>
		</div>
	</div>
</footer>